.app-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #001529;
}

.breadcrumbs-header {
  display: flex;
  height: 48px;
  padding: 0 16px;
  background-color: white;
  align-items: center;
}

.app-content {
  margin: 16px;
  padding: 16px;
}

.sidebar-menu {
  .ant-layout-sider-trigger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
