.app-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #001529;
}

.breadcrumbs-header {
  display: flex;
  height: 48px;
  padding: 0 16px;
  background-color: white;
  align-items: center;
}

.app-content {
  overflow: auto;
  height: calc(100vh - 132px);
  margin: 10px;
  padding: 10px;

  // 为 Webkit 浏览器定制滚动条 (Chrome, Safari)
  &::-webkit-scrollbar {
    width: 8px; // 设置滚动条宽度
    background-color: rgba(0, 0, 0, 0%); // 设置滚动条轨迹的背景颜色为透明
  }

  &::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 10px;

    &:hover {
      background-color: #c0c0c0;
    }
  }

  // Firefox 的滚动条定制
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 rgba(0, 0, 0, 0%); // 分别是滚动条的颜色和滚动条轨迹的颜色
}


.sidebar-menu {
  .ant-layout-sider-children {
    background-color: #fff;
  }

  .ant-layout-sider-trigger {
    background-color: #fff;
    color: black;
  }

  .ant-layout-sider-trigger {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
